body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  height: 100%;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header {
padding: 25px;
  text-align: center;
  background: #9cba6c;
 /* background-image: url('4.jpg');
  background-position: center;
  background-size: cover;
  background-color: rgba(0,0,0, 0.4); */
  border-right: 10px solid #333; 
  border-left: 10px solid #333;
  border-bottom: 10px solid #333;
  color: white; 
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 60px;
}

.header h2{
	font-size: 24px;
}
